# Variables de entorno para la aplicación
# Renombra este archivo a .env

# Configuración de la base de datos
DATABASE_USER=usuario
DATABASE_PASSWORD=contraseña
DATABASE_HOST=localhost
DATABASE_NAME=transporte_accesible_cali

# Configuración de Flask
SECRET_KEY=tu_clave_secreta_muy_segura
FLASK_APP=run.py
FLASK_ENV=development
